body {
    background-color: lightgray;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 400px;
    height: 450px;
    border-radius: 1.5em;
    text-align: center;
}

.title {
    padding-top: 40px;
    color: black;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

.goto {
    color: black;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

.input {
width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: darkgray;
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
text-align: center;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
}


.input:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
    
}

.submitbtn {
    cursor: pointer;
    border-radius: 5em;
    color: black;
    background: lightblue;
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    align-self: center;
    font-weight: bold;
}


@media (max-width: 600px) {
    .main {
        border-radius: 0px;
    }
}